.profile__pencil-image{
    width: 10px;
    height: 10px;
    background-image: url("./../../../images/edit-pencil.png");
    background-size: contain;
}

@media screen and (max-width: 1279px){
    .profile__pencil-image{
        width: 9px;
        height: 9px;
    }
}

@media screen and (max-width: 1023px){
    .profile__pencil-image{
        width: 9px;
        height: 9px;
    }
}

@media screen and (max-width: 767px){
    .profile__pencil-image{
        width: 6px;
        height: 6px;
    }
}

@media screen and (max-width: 424px){
    .profile__pencil-image{
        width: 5px;
        height: 5px;
    }
}