.figure__container{
    width: min-content;
    max-width: min-content;
    min-width: min-content;
    box-shadow: none;
    border-radius: 0;
    z-index: 1;
    background-color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
