.popup__close{
    width: 31px;
    height: 31px;
    position: absolute;
    top: -85px;
    right: -55px;
    outline: none;
    transform: rotate(45deg);
    color: white;
    background: none;
    border: none;
    font-size: 95px;
    font-weight: 200;
}

.popup__close:hover{
    cursor: pointer;
}

@media screen and (max-width: 1279px){
    .popup__close{
        width: 29px;
        height: 29px;
        top: -38px;
        right: -30px;
        font-size: 90px;
    }
}

@media screen and (max-width: 1023px){
    .popup__close{
        width: 28px;
        height: 28px;
        top: -40px;
        right: -15px;
        font-size: 80px;
    }
}

@media screen and (max-width: 767px){
    .popup__close{
        width: 27px;
        height: 27px;
        top: -42px;
        right: -50px;
        font-size: 70px;
    }
}

@media screen and (max-width: 424px){
    .popup__close{
        width: 22px;
        height: 22px;
        font-size: 65px;
        top: -75px;
        right: -2px;
    }
}